@import url(../assets/spacing.css);
@import url(./colors.css);
@import url(./sizes.css);
@import url(./fonts.css);

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    direction: rtl;
    font-family: Yekan;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding-bottom: var(--space-48);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-24);
    height: 3500px;
}



/*----------------------------------------------- Start Of NavBar -----------------------------------------------*/
.navBar {
    width: 100%;
    padding: var(--space-16);
    background: var(--color-white);
    box-shadow: 1px 2px 30px 0px #00000014;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.digiMehrLogoTitleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-10);
}

.digiMehrLogoWrapper__wrapperLogo {
    width: 32px;
    height: 30px;
    background: var(--color-primary);
    border-radius: 2px 12px 12px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digiMehrLogoWrapper__insideLogo {
    width: 19.79px;
    height: 17.48px;
}

.digiMehrLogoWrapper__titleName {
    width: 141.35px;
    height: 20.6px;
}

.signInProfileBtn {
    padding: 5px var(--space-16);
    background: var(--color-white);
    border: 1px solid var(--color-N200);
    border-radius: var(--space-8);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-12);
}

.signInProfileBtn__signInIcon {
    font-size: var(--font-size-normal);
}

.signInProfileBtn__text {
    font-weight: 400;
    font-size: var(--font-size-tiny);
    line-height: 26px;
}

/*------------------------------------------------ End Of NavBar ------------------------------------------------*/

.main {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    /* Myself Property - must remove soon*/
    /* background: green; */
    /* height: 3000px; */
}

/*------------------------------------------- Start Of Profile Section -------------------------------------------*/
.profileSection {
    position: relative;
    width: calc(100% - (var(--space-16) + var(--space-12) + var(--space-10)));
    padding: var(--space-24);
    border-radius: var(--space-12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-20);


    /* background-color: red; */
}

/* --- Start Of Inner Border --- */
.innerBorder {
    width: 100%;
    height: 1px;
    background: var(--color-border);
}

/* ---- End Of Inner Border ---- */


.partnerProfileData {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-20);
}

.partnerPersonalData {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-12);
}

.partnerPersonalData__partnerAvatar {
    width: 48px;
    height: 48px;
    border-radius: var(--space-8);
}

.partnerPersonalData__partnerAvatar--notLoggedIn {
    display: none;
}

.partnerPersonalDataWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
}

.partnerPersonalData__partnerName {
    color: var(--color-textDark);
    font-size: var(--font-size-normal);
    line-height: var(--space-24);
    font-weight: 700;
}

.partnerPersonalData__partnerTelNumber {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    line-height: var(--space-16);
    font-weight: 400;
}


.partnerPersonalData__editBtn {
    color: var(--color-primary);
    font-size: var(--font-size-tiny);
    line-height: var(--space-16);
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: none;
}

/*-------------------------------------------- End Of Profile Section --------------------------------------------*/





/*-------------------------------------------- Start Of Partner Status Project --------------------------------------------*/
.partnerStatusProject {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-12);
    /* background-color: yellow; */
}

.partnerStatusProject__headerStatus {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-8);
}

.partnerStatusProject__dispalyIconStatus {
    width: 4px;
    height: 16px;
    background: var(--color-border);
    border-radius: 2px 0px 0px 2px;
}

.partnerStatusProject__dispalyIconStatus--active {
    background: var(--color-primary);
}

.partnerStatusProject__titleStatus {
    color: var(--color-darkBlue);
    font-size: var(--font-size-normal);
    line-height: var(--space-24);
    font-weight: 400;
}
/*-------------------------------------------- End Of Partner Status Project --------------------------------------------*/



/*------------------------------------------- Start Of Actived Project -------------------------------------------*/
.partnerStatusProject__activeStatus {
    width: 100%;
    height: 88px;
    border-radius: var(--space-8);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-24);
}

.currentProject,
.partnerStatus__dataLogProject {
    width: calc((100% - var(--space-24)) / 2);
    height: 100%;
    padding: var(--space-16);
    background: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: var(--space-8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-10);
}

.currentProject__projectOrganData {
    width: 432px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-12);

    height: 100%;
}

.currentProject__oraganLogoImage {
    width: 48px;
    height: 48px;
    border-radius: var(--space-10);
}


.currentProject__dataTexts {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.currentProject__activeProjectName {
    width: 372px;
    color: var(--color-N700);
    font-size: var(--font-size-normal);
    font-weight: 400;
    line-height: var(--space-24);
}

.currentProject__activeOraganName {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--space-20);
}

.currentProject__projectOptions {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.currentProject__costTextProject {
    font-size: var(--font-size-xxtiny);
    color: var(--color-textLight);
    font-weight: 400;
    line-height: var(--space-12);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.currentProject__dynamicNumberProjectNumber {
    color: var(--color-textDark);
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--space-20);
}

.currentProject__changeBtns {
    padding: var(--space-12) var(--space-16);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-10);
}


.currentProject__editBtn,
.currentProject__cancelBtn {
    color: var(--color-primary);
    font-size: var(--font-size-tiny);
    line-height: var(--space-12);
    font-weight: 700;
    text-decoration: none;
}

.currentProject__cancelBtn {
    position: relative;
}

.currentProject__cancelBtn::before {
    content: ' ';
    width: 1px;
    height: 100%;
    background: var(--color-primary);
    position: absolute;
    top: 0;
    right: -50%;
}


.partnerStatus__dataLogMonths,
.partnerStatus__dataLogCost {
    width: 266px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-12);
}

.partnerStatus__dataLogMonthsNumber,
.partnerStatus__dataLogCostNumberWrapper {
    width: 100%;
    font-size: var(--font-size-medium);
    line-height: var(--space-24);
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.partnerStatus__dataLogMonthsText,
.partnerStatus__dataLogCostText {
    color: var(--color-textLight);
    line-height: var(--space-20);
    font-size: var(--font-size-small);
    font-weight: 400;
}

.partnerStatus__dataLogCostRialWord {
    font-weight: 400;
}

/*-------------------------------------------- End Of Actived Project --------------------------------------------*/




/*------------------------------------------- Start Of Actived Project Successful -------------------------------------------*/

.partnerStatusProject__activeStatus--successful {
    width: 100%;
    height: 88px;
    background: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: var(--space-8);
}

.currentProject--successful {
    width: 100%;
    height: 100%;
    padding: var(--space-16);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currentProject__projectOrganData--successful {
    width: 1055px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-12);
}

.currentProject__oraganLogoImage--successful {
    width: 48px;
    height: 48px;
    border-radius: var(--space-10);
}

.currentProject__dataTexts--successful {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.currentProject__activeProjectName--successful {
    width: 372px;
    color: var(--color-N700);
    font-size: var(--font-size-normal);
    font-weight: 400;
    line-height: var(--space-24);
}

.currentProject__activeOraganName--successful {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--space-20);
}

.currentProject__changeBtns--successful {
    padding: var(--space-12) var(--space-16);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-10);
}


.currentProject__editBtn,
.currentProject__cancelBtn {
    color: var(--color-primary);
    font-size: var(--font-size-tiny);
    line-height: var(--space-12);
    font-weight: 700;
    text-decoration: none;
}

.currentProject__cancelBtn {
    position: relative;
}

.currentProject__cancelBtn::before {
    content: ' ';
    width: 1px;
    height: 100%;
    background: var(--color-primary);
    position: absolute;
    top: 0;
    right: -50%;
}


/*-------------------------------------------- End Of Actived Project Successful--------------------------------------------*/




/*------------------------------------------- Start Of Expired Project -------------------------------------------*/
.partnerStatusProject__expiredStatus {
    width: 100%;
    height: 88px;
    padding: var(--space-16);
    border: 1px solid var(--color-red);
    border-radius: var(--space-8);
    background: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.expiredProjectWrapper {
    width: 1162px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-22);
}

.expiredProject__projectData {
    width: 1034px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-10);
}

.expiredProject__projectOrganData {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-12);
}

.expiredProject__oraganLogoImage {
    width: 48px;
    height: 48px;
    border-radius: var(--space-10);
}

.expiredProject__dataTexts {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.expiredProject__expiredProjectName {
    color: var(--color-N700);
    font-size: var(--font-size-normal);
    font-weight: 400;
    line-height: var(--space-24);
}

.expiredProject__expiredOraganName {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--space-20);
}

.expiredProject__displayExpiredStatusBox {
    width: 118px;
    height: 24px;
    color: var(--color-N700);
    background: var(--color-N200);
    padding: var(--space-4) var(--space-8);
    font-size: var(--font-size-xsmall);
    line-height: var(--space-16);
    border-radius: var(--space-8);
    font-weight: 400;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expiredStatusProject__continuationPartnerShipBtn {
    width: 107px;
    height: 40px;
    color: var(--color-white);
    background: var(--color-primary);
    font-size: var(--font-size-tiny);
    border-radius: var(--space-8);
    line-height: var(--space-16);
    font-weight: 700;
    cursor: pointer;
}

/*-------------------------------------------- End Of Expired Project --------------------------------------------*/



/*------------------------------------------- Start Of Need Choose Project -------------------------------------------*/
.partnerStatusProject__needChooseStatus {
    width: 100%;
    height: 88px;
    border: 1px solid var(--color-border);
    border-radius: var(--space-8);
    background: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.partnerStatusProject__needChooseText {
    color: var(--color-textLight);
    font-size: var(--font-size-normal);
    line-height: var(--space-24);
    font-weight: 400;
}

/*-------------------------------------------- End Of Need Choose Project --------------------------------------------*/



/*-------------------- Start Of Box Sara --------------------*/

/*--------------------- End Of Box Sara ---------------------*/




/*-------------------- Start Of Payment History --------------------*/
.historyOfPayments {
    /* width: 100%; */
    width: 1194px;
    /* height: 512px; */
    padding: var(--space-20);
    background: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: var(--space-12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-20);

    /* background: yellowgreen; */
}

.historyOfPayments__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historyOfPayments__headerTitle {
    color: var(--color-darkBlue);
    font-size: var(--font-size-normal);
    line-height: var(--space-24);
    font-weight: 400;
    text-align: right;
}

.historyOfPayments__headerDateSort {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    line-height: var(--space-24);
    font-weight: 400;
    text-align: right;
}

.paymentsListWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}


/*--- Start Of Payments List Header ---*/
.paymentsHeader {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: yellow;
}

.paymentsHeader__dateTitle,
.paymentsHeader__statusTitle,
.paymentsHeader__projectTitle,
.paymentsHeader__costTitle {
    height: 100%;
    padding: 6px var(--space-16);
    color: var(--color-textMid);
    font-size: var(--font-size-tiny);
    line-height: var(--space-20);
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paymentsHeader__dateTitle,
.paymentsHeader__statusTitle {
    width: 132px;
}

.paymentsHeader__projectTitle {
    width: 784px;
}

.paymentsHeader__costTitle {
    width: 100px;
}

/*---- End Of Payments List Header ----*/


.paymentsList {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 10px;
    /* height: 336px; */
    /* background-color:aqua; */
}




/*--- Start Of Item Complex Properties ---*/
.paymentsList__projectItem {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid var(--color-border);

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.paymentsList__itemDate,
.paymentsList__itemStatus,
.paymentsList__itemProjectName,
.paymentsList__itemCost {
    height: 100%;
    padding: 6px var(--space-16);
    color: var(--color-textMid);
    font-size: var(--font-size-tiny);
    line-height: var(--space-20);
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paymentsList__itemDate,
.paymentsList__itemStatus {
    width: 132px;
}

.paymentsList__itemStatus--nextPayment {
    color: var(--color-purpleDark);
}

.paymentsList__itemStatus--successful {
    color: var(--color-primary);
    gap: var(--space-4);
}

.paymentsList__itemStatus--checkIcon {
    width: 10.75px;
    height: 10.75px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentsList__itemProjectName {
    width: 784px;
}

.paymentsList__itemCost {
    width: 100px;
    gap: 2px;
}

.paymentsList__itemCost--dynamicNumberCost {
    color: var(--color-textDark);
}

.paymentsList__itemCost--staticTomanText {
    color: var(--color-textLight);
    font-size: var(--font-size-xxtiny);
    line-height: var(--space-12);
}



/*--- Start Of Item Complex Properties ---*/


.historyOfPayments__allPaymentsBtn {
    width: 152px;
    height: 40px;
    color: var(--color-primary);
    background: transparent;
    font-size: var(--font-size-tiny);
    line-height: var(--space-16);
    font-weight: 700;
    cursor: pointer;
}

/*--------------------- End Of Payment History ---------------------*/

/* -------------------------------------------------------------------------------------------------------------------------------- */

/*-------------------- Start Of  AllPayment History Year --------------------*/

.historyOfAllPayments {
    width: 100%;
    width: 1248px;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: rgb(25, 25, 73);
}

.historyOfAllPayments__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historyOfAllPayments__headerTitle {
    color: var(--color-darkBlue);
    font-size: var(--font-size-normal);
    line-height: var(--space-24);
    font-weight: 400;
}

.historyOfAllPayments__headerDateSort {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    line-height: var(--space-24);
    font-weight: 400;
}

.allPaymentsListWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px;

}


/*--- Start Of allPayments List Header ---*/
.allPaymentsHeader {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.allPaymentsHeader__dateTitle,
.allPaymentsHeader__statusTitle,
.allPaymentsHeader__projectTitle,
.allPaymentsHeader__costTitle {
    height: 100%;
    padding: 6px var(--space-16);
    color: var(--color-textMid);
    font-size: var(--font-size-tiny);
    line-height: var(--space-20);
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.allPaymentsHeader__dateTitle,
.allPaymentsHeader__statusTitle {
    width: 132px;
}

.allPaymentsHeader__projectTitle {
    width: 884px;
}

.allPaymentsHeader__costTitle {
    width: 100px;
}

/*---- End Of allPayments List Header ----*/


.allPaymentsList {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 10px;
    /* height: 336px; */
    /* background-color: red; */
}




/*--- Start Of Item Complex Properties ---*/
.allPaymentsList__projectItem {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.allPaymentsList__projectItem:last-of-type {
    border: none;
    position: relative;
}

.allPaymentsList__projectItem:last-of-type::after {
    content: ' ';
    width: 1232px;
    height: 1px;
    background: var(--color-border);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}


.allPaymentsList__itemDate,
.allPaymentsList__itemStatus,
.allPaymentsList__itemProjectName,
.allPaymentsList__itemCost {
    height: 100%;
    padding: 6px var(--space-16);
    color: var(--color-textMid);
    font-size: var(--font-size-tiny);
    line-height: var(--space-20);
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.allPaymentsList__itemDate,
.allPaymentsList__itemStatus {
    width: 132px;
}

.allPaymentsList__itemStatus--nextPayment {
    color: var(--color-purpleDark);
}

.allPaymentsList__itemStatus--successful {
    color: var(--color-primary);
    gap: var(--space-4);
}

.allPaymentsList__itemStatus--checkIcon {
    width: 10.75px;
    height: 10.75px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allPaymentsList__itemProjectName {
    width: 884px;
}

.allPaymentsList__itemCost {
    width: 100px;
    gap: 2px;
}

.allPaymentsList__itemCost--dynamicNumberCost {
    color: var(--color-textDark);
}

.allPaymentsList__itemCost--staticTomanText {
    color: var(--color-textLight);
    font-size: var(--font-size-xxtiny);
    line-height: var(--space-12);
}



/*--- End Of Item Complex Properties ---*/


/* ---------- Start Of Pagination ---------- */
.allPaymentsSlidePagination {
    width: 1232px;
    height: 57px;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.allPaymentsSlidePagination__perviousBtn,
.allPaymentsSlidePagination__nextBtn {
    width: 85px;
    height: 36px;
    color: var(--color-primary);
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
}

.allPaymentsSlidePagination__perviousBtn i,
.allPaymentsSlidePagination__nextBtn i {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allPaymentsSlidePagination__pagesNumbers {
    max-width: 380px;
    height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-4);
}

.allPaymentsSlidePagination__pagesNumbersItem {
    width: 36px;
    height: 36px;
    color: var(--color-N700);
    font-size: var(--font-size-tiny);
    line-height: calc(var(--space-16) + var(--space-10));
    font-style: normal;
    font-weight: 700;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allPaymentsSlidePagination__pagesNumbersItem--selected {
    color: var(--color-white);
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.allPaymentsSlidePagination__pagesNumbersItem:hover {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.allPaymentsSlidePagination__pagesNumbersItem--selected:hover {
    color: var(--color-white);
}

.allPaymentsSlidePagination__morePageItem {
    width: 20px;
    height: 26px;
    color: var(--color-N700);
    font-size: var(--font-size-tiny);
    font-weight: 600;
    line-height: calc(var(--space-16) + var(--space-10));
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------- End Of Pagination ----------- */

/*--------------------- End Of AllPayment History Year ---------------------*/




/* --------------------- Start Of Thank Message Section --------------------- */

.thankMessageSection--activeProject {
    width: 1188px;
    padding: var(--space-16) var(--space-24) var(--space-20);
    background: linear-gradient(216.85deg, rgba(0, 177, 18, 0.05) 30.34%, rgba(0, 113, 162, 0.05) 96.4%);
    border-radius: var(--space-12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-16);

    /* background-color: white; */
}

.thankMessageSection__title {
    width: 566px;
    color: var(--color-N700);
    font-size: var(--font-size-xlarge);
    line-height: var(--space-32);
    font-weight: 400;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-8);
}

.thankMessageSection__message {
    width: 546px;
    color: var(--color-N700);
    font-size: var(--font-size-normal);
    line-height: var(--space-24);
    font-weight: 400;
}

.thankMessageSection__messagePercentageOfPartnerShip,
.thankMessageSection__messageAmountDonated {
    color: var(--color-primary);
    font-weight: 700;
}

.thankMessageSection--knowMore {
    width: 1200px;
    padding: var(--space-16) var(--space-24);
    background: linear-gradient(216.85deg, rgba(0, 177, 18, 0.05) 30.34%, rgba(0, 113, 162, 0.05) 96.4%);
    border-radius: var(--space-12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-16);
}

.thankMessageSection__knowMoreBtn {
    width: 96px;
    height: 40px;
    color: var(--color-primary);
    font-size: var(--font-size-tiny);
    line-height: var(--space-16);
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thankMessageSection--successfulJoin {
    width: 1200px;
    padding: var(--space-16) var(--space-24);
    background: linear-gradient(216.85deg, rgba(0, 177, 18, 0.05) 30.34%, rgba(0, 113, 162, 0.05) 96.4%);
    border-radius: var(--space-12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-16);

    /* background-color: white; */
}

.thankMessageSection__joinSuccessfulIcon {
    width: 32px;
    height: 32px;
    font-size: 32px;
    color: var(--color-primary);

    display: flex;
    justify-content: center;
    align-items: center;
}

.thankMessageSection__projectName{
    color: var(--color-primary);
    font-weight: 700;
}

.thankMessageSection__monthNumber,
.thankMessageSection__projectCost,
.thankMessageSection__editText{
    font-weight: 700;
}

.chooseProjectText{
    color: var(--color-N700);
    font-size: var(--font-size-normal);
    line-height: var(--space-24);
    font-weight: 700;
}



/* --------------------- End Of Thank Message Section ---------------------- */