@import url(../assets/spacing.css);
@import url(./colors.css);
@import url(./sizes.css);
@import url(./fonts.css);

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    direction: rtl;
    font-family: Yekan;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding-bottom: var(--space-48);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-24);
    height: 3500px;
}



/*----------------------------------------------- Start Of NavBar -----------------------------------------------*/
.navBar {
    width: 100%;
    padding: var(--space-16);
    background: var(--color-white);
    box-shadow: 1px 2px 30px 0px #00000014;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.digiMehrLogoTitleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-10);
}

.digiMehrLogoWrapper__wrapperLogo {
    width: 32px;
    height: 30px;
    background: var(--color-primary);
    border-radius: 2px 12px 12px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digiMehrLogoWrapper__insideLogo {
    width: 19.79px;
    height: 17.48px;
}

.digiMehrLogoWrapper__titleName {
    width: 141.35px;
    height: 20.6px;
}

.signInProfileBtn {
    padding: 5px var(--space-16);
    background: var(--color-white);
    border: 1px solid var(--color-N200);
    border-radius: var(--space-8);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-12);
}

.signInProfileBtn__signInIcon {
    font-size: var(--font-size-normal);
}

.signInProfileBtn__text {
    font-weight: 400;
    font-size: var(--font-size-tiny);
    line-height: 26px;
}

/*------------------------------------------------ End Of NavBar ------------------------------------------------*/

.main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: green;
    height: 3000px;
}

/*------------------------------------------- Start Of Profile Section -------------------------------------------*/
.profileSection {
    position: relative;
    width: calc(100% - (var(--space-16) + var(--space-12) + var(--space-10)));
    padding: var(--space-24);
    border-radius: var(--space-12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-20);
}

/* --- Start Of Inner Border --- */
.innerBorder {
    width: 100%;
    height: 1px;
    background: var(--color-border);
}

/* ---- End Of Inner Border ---- */


.partnerProfileData {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.partnerPersonalData {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-12);
}

.partnerPersonalData__partnerAvatar {
    width: 48px;
    height: 48px;
    border-radius: var(--space-8);
}

.partnerPersonalData__partnerAvatar--notLoggedIn {
    display: none;
}

.partnerPersonalDataWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
}

.partnerPersonalData__partnerName {
    color: var(--color-textDark);
    font-size: var(--font-size-normal);
    line-height: var(--space-24);
    font-weight: 700;
}

.partnerPersonalData__partnerTelNumber {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    line-height: var(--space-16);
    font-weight: 400;
}

/*-------------------------------------------- End Of Profile Section --------------------------------------------*/

.partnerStatusProject {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-12);
}

.partnerStatusProject__headerStatus {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-8);
}

.partnerStatusProject__activeStatus {
    width: 100%;
    height: 88px;
}

.partnerStatusProject__dispalyIconStatus {
    width: 4px;
    height: 16px;
    background: var(--color-border);
    border-radius: 2px 0px 0px 2px;
}

.partnerStatusProject__dispalyIconStatus--active {
    background: var(--color-primary);
}

.partnerStatusProject__titleStatus {
    color: var(--color-darkBlue);
    font-size: var(--font-size-normal);
    line-height: var(--space-24);
    font-weight: 400;
}


/*------------------------------------------- Start Of Actived Project -------------------------------------------*/

.partnerStatusProject__activeStatus {
    width: 100%;
    height: 88px;
    border-radius: var(--space-8);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-24);
}

.currentProject,
.partnerStatus__dataLogProject {
    width: calc((100% - var(--space-24)) / 2);
    height: 100%;
    padding: var(--space-16);
    background: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: var(--space-8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-10);
}

.currentProject__projectOrganData {
    width: 432px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-12);

    height: 100%;
}

.currentProject__oraganLogoImage {
    width: 48px;
    height: 48px;
    border-radius: var(--space-10);
}


.currentProject__dataTexts {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.currentProject__activeProjectName {
    width: 372px;
    color: var(--color-N700);
    font-size: var(--font-size-normal);
    font-weight: 400;
    line-height: var(--space-24);
}

.currentProject__activeOraganName {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--space-20);
}

.currentProject__projectOptions {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.currentProject__costTextProject {
    font-size: var(--font-size-xxtiny);
    color: var(--color-textLight);
    font-weight: 400;
    line-height: var(--space-12);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.currentProject__dynamicNumberProjectNumber {
    color: var(--color-textDark);
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--space-20);
}

.currentProject__changeBtns {
    padding: var(--space-12) var(--space-16);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-10);
}


.currentProject__editBtn,
.currentProject__cancelBtn {
    color: var(--color-primary);
    font-size: var(--font-size-tiny);
    line-height: var(--space-12);
    font-weight: 700;
    text-decoration: none;
}

.currentProject__cancelBtn {
    position: relative;
}

.currentProject__cancelBtn::before {
    content: ' ';
    width: 1px;
    height: 100%;
    background: var(--color-primary);
    position: absolute;
    top: 0;
    right: -50%;
}


.partnerStatus__dataLogMonths,
.partnerStatus__dataLogCost {
    width: 266px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-12);
}

.partnerStatus__dataLogMonthsNumber,
.partnerStatus__dataLogCostNumberWrapper {
    width: 100%;
    font-size: var(--font-size-medium);
    line-height: var(--space-24);
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.partnerStatus__dataLogMonthsText,
.partnerStatus__dataLogCostText {
    color: var(--color-textLight);
    line-height: var(--space-20);
    font-size: var(--font-size-small);
    font-weight: 400;
}

.partnerStatus__dataLogCostRialWord {
    font-weight: 400;
}

/*-------------------------------------------- End Of Actived Project --------------------------------------------*/




/*------------------------------------------- Start Of Expired Project -------------------------------------------*/
.partnerStatusProject__expiredStatus {
    width: 100%;
    height: 88px;
    padding: var(--space-16);
    border: 1px solid var(--color-red);
    border-radius: var(--space-8);
    background: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.expiredProjectWrapper {
    width: 1162px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-22);
}

.expiredProject__projectData {
    width: 1034px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-10);
}

.expiredProject__projectOrganData {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-12);
}

.expiredProject__oraganLogoImage {
    width: 48px;
    height: 48px;
    border-radius: var(--space-10);
}

.expiredProject__dataTexts {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.expiredProject__expiredProjectName {
    color: var(--color-N700);
    font-size: var(--font-size-normal);
    font-weight: 400;
    line-height: var(--space-24);
}

.expiredProject__expiredOraganName {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--space-20);
}

.expiredProject__displayExpiredStatusBox {
    width: 118px;
    height: 24px;
    color: var(--color-N700);
    background: var(--color-N200);
    padding: var(--space-4) var(--space-8);
    font-size: var(--font-size-xsmall);
    line-height: var(--space-16);
    border-radius: var(--space-8);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expiredStatusProject__continuationPartnerShipBtn {
    width: 107px;
    height: 40px;
    color: var(--color-white);
    background: var(--color-primary);
    font-size: var(--font-size-tiny);
    border-radius: var(--space-8);
    line-height: var(--space-16);
    font-weight: 700;
    cursor: pointer;
}









/*-------------------------------------------- End Of Expired Project --------------------------------------------*/



/*------------------------------------------- Start Of Need Choose Project -------------------------------------------*/
.partnerStatusProject__needChooseStatus {
    width: 100%;
    height: 88px;
    border: 1px solid var(--color-border);
    border-radius: var(--space-8);
    background: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.partnerStatusProject__needChooseText {
    color: var(--color-textLight);
    font-size: var(--font-size-normal);
    line-height: var(--space-24);
    font-weight: 400;
}
/*-------------------------------------------- End Of Need Choose Project --------------------------------------------*/